header {
    background-color: #283b60;
    height: 14vh;
    box-shadow: 0 5px 30px rgb(0 22 84 / 10%);
    position: sticky;
    top: 0;
    z-index: 99999;
  
}

header img {
    width: 90px;
    height: 90px;
    margin-left: 50px;
    margin-top: 8px;
}

header a {
    margin-left: 40px;
    transition: 0.5s;
    font-size: small;

}

header a:hover {
    color: #5880d1;
}

header .toggle {
    display: none;
}

.btn1{
    margin-right: 30px;
}

@media screen and (max-width: 768px) {
    header {
        padding: 0;
    }
    header img {
        margin-top: 30px;
    }
    header .button {
        display: none;
    }
    header .nav .flex {
        display: none;
    }
    header .toggle {
        display: block;
        margin-top: 20px;
    }
    header .small {
        position: absolute;
        top: 11vh;
        left: 0;
        width: 100%;
        background-color: #5880d1;
        padding: 25px;
    }
    header li a {
        display: inline-block;
        margin-bottom: 40px;
        color: #fff;
    }
}